.el-row{
    margin-top: 20px !important;
    margin-bottom: 10px;
}
.el-upload {
    .el-upload__input {
      display: none !important;
    }
  }
.el-upload-list{
  max-width: 500px;
  min-width: 400px;
}
