@import "./responsive.scss";


.lista-facturas{
  margin: auto;
  padding-top: 10px;
  padding-bottom: 25px;
  @include smartphone{
  }
  @include tablet{
  }
  @include desktop{
  }
  
}
.neo-facturas{
  @include smartphone{
    margin: 10px 200px;
    background-color: greenyellow;
  }
  @include tablet{
    // margin: 10px 200px;
    // padding: 40px;
    background-color: rgb(226, 86, 43);
  }
  @include desktop{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 25px;
  }
}