@import "./responsive.scss";

.login{
  text-align: left;
  @include smartphone{
  }
  @include tablet{
  }
  @include desktop{
  }
  .el-input{
    border: 0 !important;
    border-bottom: 1px solid $blue-custom !important;
    outline: 0;
    // border: 1px solid #DCDFE6;
  }
}