@import './responsive.scss';

.menu{
  background-color: chocolate!important;
  width: 100%;
  overflow-y: hidden;
  @include desktop{
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  .izquierda{
    background-color: cornflowerblue;
  }
  .derecha{
    background-color: crimson;
  }
}