@import "./responsive.scss";

.lista-facturas{
  margin: auto;
  padding-top: 10px;
  padding-bottom: 25px;
  @include smartphone{
  }
  @include tablet{
  }
  @include desktop{
  }
  
}
.neo-recibos{
  margin: auto;
  padding-top: 10px;
  padding-bottom: 25px;
  @include smartphone{
  }
  @include tablet{
  }
  @include desktop{
  }
  .cabecera-factura{
    text-align: left;
    margin: 10px;
  }
  .botonera-factura{
    margin: 10px;
  }
  .body-comprobante {
    width: 90%;
    box-shadow: 3px 2px 10px #c7c7c7;
    border: 1px solid #d5d0d0; 
    box-sizing: border-box;
    margin: auto;
    border-radius: 10px;
    background-color: $white-custom;
    margin-bottom: 50px;
    padding-bottom: 30px;
  }
  .titulo{
    text-align: left;
  }
  .cabecera {
    margin-left: 30px;
    margin-right: 30px;
    // border-bottom: 3px solid rgb(225, 225, 228);
    text-align: left;
  }
  .footer{
    align-items: right;
    display: flex;
    justify-content: right;
  }
}