.swal-modal {
  .swal-footer {
    text-align: center !important;
  }
}
.alinieado-derecha {
  text-align: right;
}
.alinieado-izquierda {
  text-align: left;
}
.contenido{
  max-width: 80%;
  margin-left: 20%;
}
.contenedor{
  max-width: 80%;
  margin-left: 20%;
  &-principal{
    
  }
}
.componente{
}